{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6"id = "fichePraticien">
			<div class="panel panel-primary" id="panel_info">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Fiche du praticien : {{praticien.nomPraticien}} {{praticien.prenomPraticien}}</b></h3>
				</div>
					<table class = 'table'>
						<thead></thead>
						<tbody>
							<tr>
								<td><label for="">Adresse :</label></td>
								<td>{{praticien.adressePraticien}}<br>{{praticien.villePraticien}} - {{praticien.cpPraticien}}</td>
							</tr>
							<tr>
								<td><label for="">Numero de telephone :</label></td>
								<td>{{praticien.numtel}}</td>
							</tr>
							<tr>
								<td><label for="">Coef notoriété :</label></td>
								<td>{{praticien.coefnotorietePraticien}}</td>
							</tr>
							<tr>
								<td><label for="">Travail dans :</label></td>
								<td>{{praticien.codeType.typeLieu}}<br/>{{praticien.codeType.libelleType}}</td>
							</tr>
							<tr>
								<td><label for="">Titulaire :</label></td>
								<td>
									{%if praticien.titulairePraticien == 1%}
									Ce praticien est titulaire
									{% else %}
									Ce praticien est remplacant
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
		<div class="col-md-6">
			<div id="gmap" class="gmap"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-6">
			<button id="centerPosition">Ma position</button>
			<button id="centerPraticien">Praticien</button>
			<button id="dezoom">Vue d'ensemble</button>
		</div>
	</div>
</div>





	<style>
		#fichePraticien .panel-heading{
			text-align: center;
		}

		#fichePraticien table tr td{
		}

		#fichePraticien .panel-body{
			/*height: 100%;*/
		}
	</style>
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>

{% endblock %}

{% block inlinejs %}
		
        <script>
        	var canvasHeight = $('.gmap').closest('div').height();
        	$('#panel_info').height(canvasHeight*1.04);

        	if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function(pos) {
	            var me = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
	            MyLoc = [
	                {
	                    lat: pos.coords.latitude,
	                    lon: pos.coords.longitude,
	                    title: 'Ma position',
	                    html : 'Ma position',
	                    zoom: 15
	                }
	            ]
	            LocPrat= [{
	                        lat: {{gps['lat']}} ,
	                        lon: {{gps['lng']}} ,
	                        title: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}}',
	                        html: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}} <br> Tel : {{praticien.numtel}} <br> Adresse : {{praticien.adressePraticien}}, {{praticien.cpPraticien}}, {{praticien.villePraticien}}',
	                        zoom: 15
	            }]

	            Locs = MyLoc.concat(LocPrat);
        	
	                var maplace = new Maplace({
	                    show_markers: true,
	                    locations: Locs,
	                    controls_title: 'Liste des praticiens',
                		view_all_text: 'Voir tous'
	                });
	                maplace.load();
        	}), //else
        	function() {
	                new Maplace({
	                    show_markers: true,
	                    locations: [{
	                        lat: {{gps['lat']}} ,
	                        lon: {{gps['lng']}} ,
	                        title: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}}',
	                        html: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}} <br> Tel : {{praticien.numtel}} <br> Adresse : {{praticien.adressePraticien}}, {{praticien.cpPraticien}}, {{praticien.villePraticien}}',
	                        zoom: 15
	                    }]
	                }).Load();
	            };
	        $('#centerPosition').click(function() {
	        	Maplace.ViewOnMap(1);
	        });

            // $(".panel-body").height($("#fichePraticien table").height());
        </script>
{% endblock %}
