{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}

<!-- <div class="container">
	<div class="row">
		<form action="../maps/geolocalisation.php" method="POST">

			<div class="col-md-3">
				<div class="form-group">
			    	<label for="numero">Numéro</label>
			    	<input class="form-control" id="numero" value="{{praticien.matriculePraticien}}">
			  	</div>
			  	<div class="form-group">
			    	<label for="nom">Nom</label>
			    	<input class="form-control" id="nom" value="{{praticien.nomPraticien}}">
			  	</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label for="prenom">Prénom</label>
			    	<input class="form-control" id="prenom" value="{{praticien.prenomPraticien}}">
			  	</div>
			  	<div class="form-group">
			    	<label for="adresse">Adresse</label>
			    	<input class="form-control" name="adresse" id="adresse" value="{{praticien.adressePraticien}}">
			  	</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label for="coeff_notoriete">Coefficient Notoriété</label>
			    	
			    	<input class="form-control" id="coeff_notoriete" value="{{praticien.coefnotorietePraticien}}">
			  	</div>
			  	<div class="form-group">
			    		<div class="form-inline">
			    			<label for="cp">CP /</label>
			    			<label for="ville">Ville</label>
			    			<br>
			    			<input class="form-control" name="cp" id="cp" style="width: 65px;" value="{{praticien.cpPraticien}}">
			    			<input class="form-control" name="ville" id="ville" style="width : 188px;" value="{{praticien.villePraticien}}">
			    			<input type="hidden" class="form-control" id="pays" style="width : 285px;" value="France">
			    		</div>
			    </div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label for="lieu_exe">Lieu d'Exercice</label>
			    	<input class="form-control" id="lieu_exe">
			  	</div>
			  	<div class="form-group">
			    	<label for="localiser">Localiser</label>
			    	<input type="submit" class="form-control btn btn-primary">
			  	</div>
			</div>
		</form>
	<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
	<div id="gmap" class="gmap"></div>
	</div>
</div> -->

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3"id = "fichePraticien">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Fiche du praticien : {{praticien.nomPraticien}} - {{praticien.prenomPraticien}}</b></h3>
				</div>
				<div class="panel-body">
					<div class="col-md-10 col-md-offset-1">
						<table class = 'table'>
							<tr>
								<td>Adresse :</td>
								<td>{{praticien.adressePraticien}}<br>{{praticien.villePraticien}} - {{praticien.cpPraticien}}</td>
							</tr>
							<tr>
								<td>Numero de telephone</td>
								<td>{{praticien.numtel}}</td>
							</tr>
							<tr>
								<td>Coef notoriété</td>
								<td>{{praticien.coefnotorietePraticien}}</td>
							</tr>
							<tr>
								<td>Travail dans</td>
								<td>{{praticien.codeType.typeLieu}}<br/>{{praticien.codeType.libelleType}}</td>
							</tr>
							<tr>
								<td>Titulaire</td>
								<td>
									{%if praticien.titulairePraticien == 1%}
									Ce praticien est titulaire
									{% else %}
									Ce praticien est remplacant
									{% endif %}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
<div id="gmap" class="gmap"></div>



	<style>
		#fichePraticien .panel-heading{
			text-align: center;
		}

		#fichePraticien table tr td{
			padding: 4px;
			padding: 0px;
		}

		#fichePraticien .panel-body{
			height: 100%;
		}
	</style>

{% endblock %}

{% block inlinejs %}
        <script>
            $(function() {
                new Maplace({
                    show_markers: true,
                    locations: [{
                        lat: {{gps['lat']}} ,
                        lon: {{gps['lng']}} ,
                        title: 'Title A1',
                        zoom: 15
                    }]
                }).Load();
              });


            $(".panel-body").height($("#fichePraticien table").height());
        </script>
{% endblock %}
