{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Nouveau rapport{% endblock %}

{% block body %}

<div class="container">
    <form class="form" method = 'post'>
    	<div class="row">
    		<legend>Nouveau Rapport</legend>
    		<div class="col-md-6">
    			<div class="row">
                    {# Code motif #}
                    <div class="col-md-4" style="margin-top: 10px;">
                        {{ form_label(form.codeMotif, 'Motif', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.codeMotif, {'attr': {'class': 'form-control input-sm'}} )}}
                        {{ form_errors(form.codeMotif) }}
                    </div>
    				
    				{# Nom des praticiens #}
    				<div class="col-md-4" style="margin-top: 10px;">
    					{{ form_label(form.matriculePraticien, 'Praticien', {'label_attr': {'class': 'control-label'}}) }}
    					{{ form_widget(form.matriculePraticien, {'attr': {'class': 'form-control input-sm'}} )}}
    					{{ form_errors(form.matriculePraticien) }}
    				</div>

                    {# Code medicament #}
                    <div class="col-md-4" style="margin-top: 10px;" id = "med">
                        {{ form_label(form.depotLegalPres, 'Médicaments présentés', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.depotLegalPres, {'attr': {'class': 'form-control input-sm'}} )}}
                        {{ form_errors(form.depotLegalPres) }}
                    </div>
    			</div>
    	
    			<div class="row">
    				{# Nom des praticiens #}
    				<div class="col-md-4" style="margin-top: 10px;">
    					{{ form_label(form.date_rapport, 'Date du rapport', {'label_attr': {'class': 'control-label'}}) }}
    					{{ form_widget(form.date_rapport, {'attr': {'class': 'form-control input-sm'}} )}}
    					{{ form_errors(form.date_rapport) }}
    				</div>
    				
    				{# Nom des praticiens #}
    				<div class="col-md-4" style="margin-top: 10px;">
    					{{ form_label(form.date_visite, 'Date de la visite', {'label_attr': {'class': 'control-label'}}) }}
    					{{ form_widget(form.date_visite, {'attr': {'class': 'form-control input-sm'}} )}}
    					{{ form_errors(form.date_visite) }}
    				</div>
    			</div>
    	
    			<div class="row">
    				{# Bilan du rapport #}
    				<div class="col-md-12" style="margin-top: 10px;">
    					{{ form_label(form.bilan_visite, 'Bilan de la visite', {'label_attr': {'class': 'control-label'}}) }}
    					{{ form_widget(form.bilan_visite, {'attr': {'class': 'form-control'}} )}}
    					{{ form_errors(form.bilan_visite) }}
    				</div>
    			</div>
    	
    			<div class="row" style='margin-top: 10px;'>
    				<div class="col-md-12">{# Submit #}
    					{{form(form)}}
    				</div>
    			</div>
    		</div>
    	</div>
    </form>
</div>


{% endblock %}

{% block inlinejs %}
	<script>
	  	$('#ppe_gsb_rapportdevisitetype_date_rapport').datetimepicker({
		    lang:'fr',
		    timepicker:false,
		    format:'d/m/Y'
		});
		$('#ppe_gsb_rapportdevisitetype_date_visite').datetimepicker({
		    lang:'fr',
		    timepicker:false,
		    format:'d/m/Y'
		});
	</script>
{% endblock %}