{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Fiche rapport{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-3 well">
			<legend>Rapport n°{{rp.numRapport}}</legend>
			<div class="col-md-6">
				<h5><b>Date de la visite :</b> {{ rp.dateVisite|date("m/d/Y") }}</h5>
			</div>
			<div class="col-md-6">
				<h5><b>Date du rapport :</b> {{ rp.dateRapport|date("m/d/Y") }}</h5>
			</div>
			<br>
			<br>
			<br>
			<h5><b>Praticien concerné :</b> {{rp.matriculePraticien.nomPraticien}} {{rp.matriculePraticien.prenomPraticien}}</h5>
			<h5><b>Motif de la visite :</b> {{rp.codeMotif.libelleMotif}}</h5>
			<br><br>
			<h5>
				<b>Bilan de la visite :</b> 
				<br><br>
				<div>
					<textarea class="form-control" rows="5" disabled>{{rp.bilanVisite}}</textarea>
				</div>
			</h5>
			
			<div class="col-md-6">
					<b>Médicament(s) présenté(s):</b>
					<br>
				{% if rp.depotLegalPres is empty %}
					Aucun médicament n'a été présenté lors de cette visite <br>
				{% else %}
					{% for presentes in rp.depotLegalPres %}
						<li><a href="{{ path('ppegsb_ficheMed', {'id':presentes.depotLegal})}}">{{presentes.nom}}</a></li>
					{% endfor %}
				{% endif %}
			</div>
			
			<div class="col-md-6">
					<b>Médicament(s) offert(s) :</b>
					<br>
				{% if rp.numRapportOffre is empty %}
					Aucun médicament n'a été offert lors de cette visite
				{% else %}
					{% for offert in rp.numRapportOffre %}
						<li><a href="{{ path('ppegsb_ficheMed', {'id':offert.depotLegalOffre.depotLegal})}}">{{offert.depotLegalOffre.depotLegal}}</a> - {{offert.qteOffre}}</li>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<a href="{{ path('ppegsb_homepage' ) }}"><button class="col-md-12 btn btn-primary">Retour</button></a>
		</div>
	</div>
</div>

{% endblock %}