{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des praticiens{% endblock %}

{% block body %}

<div class="table-responsive">
	<table class="table table-hover sortable table-striped">
		<!-- Entête du tableau -->
		<thead> 
			<tr>
				<th>Numero</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Adresse</th>
				<th>CP</th>
				<th>Ville</th>
				<th>Coeff. Notoriété</th>
				<th>Lieu d'exercice</th>
			</tr>
		</thead>
		<!-- fin de l'entête -->
		<tbody>
		{% for praticien in praticiens %}
			<tr>
				<td><a href="{{ path ("ppegsb_fichePra", {"id": praticien.matriculePraticien} ) }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button></a></td>
				<td>{{praticien.nomPraticien}}</td>
				<td>{{praticien.prenomPraticien}}</td>
				<td>{{praticien.adressePraticien}}</td>
				<td>{{praticien.cpPraticien}}</td>
				<td>{{praticien.villePraticien}}</td>
				<td>{{praticien.coefnotorietePraticien}}</td>
				<td>{{praticien.codeType.typeLieu}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}