{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des praticiens{% endblock %}

{% block body %}
<div class="titre titreMobile">
	<h2 style="margin-left: 5px;">Praticiens</h2>
</div>
<div class="table-responsive">
	<table class="table table-hover sortable table-striped" id = "tablePrat">
		<!-- Entête du tableau -->
		<thead> 
			<tr>
				<th class = "toFiche">Numero</th>
				<th class = "nom" >Nom</th>
				<th class = "adresse">Adresse</th>
				<th class = "adresse">CP</th>
				<th class = "adresse">Ville</th>
				<th class = "fullAdresss">Adresse</th>
				<th class = "notoriete">Notoriété</th>
				<th>Lieu d'exercice</th>
			</tr>
		</thead>
		<!-- fin de l'entête -->
		<tbody>
		{% for praticien in praticiens %}
			<tr class="linkFiche" onclick="if ($(window).width() < 767) {document.location = '{{ path ("ppegsb_fichePra", {"id": praticien.matriculePraticien} ) }} '};">
				<td class = "toFiche"><a href="{{ path ("ppegsb_fichePra", {"id": praticien.matriculePraticien} ) }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button></a></td>
				<td>{{praticien.nomPraticien}} - <span class="prenom">{{praticien.prenomPraticien}}</span></td>
				<td class = "adresse">{{praticien.adressePraticien}}</td>
				<td class = "adresse">{{praticien.cpPraticien}}</td>
				<td class = "adresse">{{praticien.villePraticien}}</td>
				<td class = "fullAdresss">{{praticien.adressePraticien}}<br/>{{praticien.villePraticien}} - {{praticien.cpPraticien}}</td>
				<td class = "notoriete">{{praticien.coefnotorietePraticien}}</td>
				<td>{{praticien.codeType.typeLieu}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block inlinejs %}
	<script>

	</script>
{% endblock %}