{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}

<div class="table-responsive">
	<table class="table table-hover">
		<!-- Entête du tableau -->
		<thead> 
			<tr>
				<th>Numero</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Adresse</th>
				<th>CP</th>
				<th>Ville</th>
				<th>Coeff. Notoriété</th>
				<th>Lieu d'exercice</th>
			</tr>
		</thead>
		<!-- fin de l'entête -->
		<tbody>
		{% for praticien in praticiens %}
			<tr>
				<td><a href="Fiche-{{praticien.matriculePraticien}}">{{praticien.matriculePraticien}}</a></td>
				<td>{{praticien.nomPraticien}}</td>
				<td>{{praticien.prenomPraticien}}</td>
				<td>{{praticien.adressePraticien}}</td>
				<td>{{praticien.cpPraticien}}</td>
				<td>{{praticien.villePraticien}}</td>
				<td>{{praticien.coefnotorietePraticien}}</td>
				<td>Nope</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}