{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des praticiens{% endblock %}

{% block body %}
<div class="titre titreMobile">
	<h2 style="margin-left: 5px;">Praticiens</h2>
</div>
<div class="col-md-2 col-xs-11 col-xs-offset-1"  id="group-filtre">
	<div class="input-group">
		<input type="text" name = "filtre" class="form-control" onkeyup="filter()" id = "filtre" placeholder="Rechercher">
		
			<span class="input-group-addon" id="input-group-loader"><img src="{{asset('bundles/ppegsb/images/loader.gif')}}" id="gifLoader" alt="Chargement..."></span>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-hover sortable table-striped" id = "tablePrat">
		<!-- Entête du tableau -->
		<thead> 
			<tr>
				<th class = "toFiche">Numero</th>
				<th class = "nom" >Nom</th>
				<th class = "adresse">Adresse</th>
				<th class = "adresse">CP</th>
				<th class = "adresse">Ville</th>
				<th class = "fullAdresss">Adresse</th>
				<th class = "notoriete">Notoriété</th>
				<th>Lieu d'exercice</th>
			</tr>
		</thead>
		<!-- fin de l'entête -->
		<tbody id = "bodyTable">
		{% for praticien in praticiens %}
			<tr class="linkFiche" onclick="if ($(window).width() < 767) {document.location = '{{ path ("ppegsb_fichePra", {"id": praticien.matriculePraticien} ) }} '};">
				<td class = "toFiche"><a href="{{ path ("ppegsb_fichePra", {"id": praticien.matriculePraticien} ) }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button></a></td>
				<td>{{praticien.nomPraticien}} - <span class="prenom">{{praticien.prenomPraticien}}</span></td>
				<td class = "adresse">{{praticien.adressePraticien}}</td>
				<td class = "adresse">{{praticien.cpPraticien}}</td>
				<td class = "adresse">{{praticien.villePraticien}}</td>
				<td class = "fullAdresss">{{praticien.adressePraticien}}<br/>{{praticien.villePraticien}} - {{praticien.cpPraticien}}</td>
				<td class = "notoriete">{{praticien.coefnotorietePraticien}}</td>
				<td>{{praticien.codeType.typeLieu}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block inlinejs %}
	<script>
	function filter()
	{
		var filtre = $("#filtre").val();
			$.ajax({
			    url: "{{ path('ppegsb_listePra') }}",
			    data: {
			    	filtre : filtre,
			    	refreshAjax : 1
			    },
			    type: "POST",
			    dataType : "html",
			    beforeSend: function(){
			    	// alert('before');
			    	$('#gifLoader').css('visibility', 'visible');
			    },
			    success: function( data ) {
				    $("#bodyTable").html(data);
			    	$('#gifLoader').css('visibility', 'hidden');
			    	

			    },
			    error: function( xhr, status ) {
			        alert( "Sorry, there was a problem!" );
			        alert(status);
			    }
			});
	}

	</script>
{% endblock %}