{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}
 <div class="table-responsive">
	 <table class="table table-hover sortable table-striped">
	 	<!-- Entête du tableau -->
	 	<thead> 
	 		<tr>
	 			<th>Numero</th>
	 			<th>Praticien</th>
	 			<th>Date visite</th>
	 			<th>Date rapport</th>
	 		</tr>
	 	</thead>
	 	<tbody>
 		{% for rp in rapports %}
	 		<tr>
				<td><a href="RP/get-{{rp.numRapport}}">{{rp.numRapport}}</a></td>
				<td>{{rp.dateVisite|date("d/m/Y")}}</td>
				<td>{{rp.dateRapport|date("d/m/Y")}}</td>
				<td>{{rp.matriculePraticien.nomPraticien}} - {{rp.matriculePraticien.prenomPraticien}}</td>
	 		</tr>
 		{% endfor %}
	 	</tbody>
	 	<!-- fin de l'entête -->
	 </table>
</div>
{#
<div style="border: thin solid black; background-color: green; color: white">
	{{ msg }}<br>
</div>
#}
{% endblock %}