{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des médicaments{% endblock %}

{% block body %}
<div class="titre titreMobile">
	<h2 style="margin-left: 5px;">Médicaments</h2>
</div>
<div class="col-md-2 col-xs-11 col-xs-offset-1"  id="group-filtre">
	<div class="input-group">
		<input type="text" name = "filtre" class="form-control" onkeyup="filter()" id = "filtre" placeholder="Rechercher">
		<span class="input-group-addon" id="input-group-loader"><img src="{{asset('bundles/ppegsb/images/loader.gif')}}" id="gifLoader" alt="Chargement..."></span>
	</div>
</div>
	<div class="table-responsive">
		<table class="table table-hover sortable table-striped" id = "tableMed">
		 	<!-- Entête du tableau -->
		 	<thead> 
		 		<tr>
		 			<th class="ficheMed">Fiche</th>
		 			<th>Depot legal</th>
		 			<th>Nom commerciale</th>
		 			<th class = "familleMed">Famille</th>
		 			<th>Prix échantillon</th>
		 		</tr>
		 	</thead>
 			<tbody id = 'bodyTable'>
			{% for medicament in medicaments %}
				<tr onclick="if ($(window).width() < 767) {document.location = '{{ path('ppegsb_ficheMed', {'id':medicament.depotLegal})}}' };">
					<td class="ficheMed"><a href="{{ path('ppegsb_ficheMed', {'id':medicament.depotLegal})}}"><buton class="btn btn-primary"><span class="glyphicon glyphicon-file"></span></buton></a></td>
					<td>{{medicament.depotLegal}}</td>
					<td>{{medicament.nom}}</td>
					<td class = "familleMed">{{medicament.codeFamille.libelleFamille}}</td>
					<td>{{medicament.prixechantillon}}</td>
				</tr>
			{% endfor %}
			</tbody>
		 	<!-- fin de l'entête -->
		</table>
	</div>
{% endblock %}


{% block inlinejs %}
<script>
	function filter()
	{
		var filtre = $("#filtre").val();
			$.ajax({
			    url: "{{ path('ppegsb_listeMed') }}",
			    data: {
			    	filtre : filtre,
			    	refreshAjax : 1
			    },
			    type: "POST",
			    dataType : "html",
			    beforeSend: function(){
			    	// alert('before');
			    	$('#gifLoader').css('visibility', 'visible');
			    },
			    success: function( data ) {
				    $("#bodyTable").html(data);
				    $('#gifLoader').css('visibility', 'hidden');
			    },
			    error: function( xhr, status ) {
			        alert( "Sorry, there was a problem!" );
			        alert(status);
			    }
			});
	}
</script>
{% endblock %}


