{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Carte{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
        <div class="gmap" id="gmap"></div>
    </div>
</div>
{% endblock %}

{% block inlinejs %}
        <script>

        {% autoescape false %}
            var adresses = {{ adresses }};
        {% endautoescape %}

        var parsed = JSON.parse(adresses);

        var array = [];

        for(var x in parsed){
          array.push(parsed[x]);
        }
        function someFunction(addresses, callback) {
            var coords = [];
            for(var i = 0; i < addresses.length; i++) {
                currAddress = addresses[i];
                var geocoder = new google.maps.Geocoder();
                if (geocoder) {
                    geocoder.geocode({'address':currAddress}, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            coords.push(results[0].geometry.location);
                            if(coords.length == addresses.length) {
                                if( typeof callback == 'function' ) {
                                    callback();
                                }
                            }
                        } 
                        else {
                            throw('No results found: ' + status);
                        }
                    });
                }
             }
          }
        
        //Usage
        someFunction(adresses, function() {
            alert(coords);
        });

        // if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function(pos) {
        //     var me = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
        //     MyLoc = [
        //         {
        //             lat: pos.coords.latitude,
        //             lon: pos.coords.longitude,
        //             title: 'Ma position',
        //             html : 'Ma position',
        //             zoom: 15
        //         }
        //     ]

        //     var gmapHeight = $('.gmap').height();
        //     $('.gmap').height(gmapHeight*1.5);

        //         Locs = [
        //             {% for praticien in praticiens %}
        //                 {
        //                     lat: {#{{gpsCoo[loop.index-1]['lat']}}#} ,
        //                     lon: {#{{gpsCoo[loop.index-1]['lng']}}#} ,
        //                     title: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}}',
        //                     html: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}} <br> Tel : {{praticien.numtel}} <br> Adresse : {{praticien.adressePraticien}}, {{praticien.cpPraticien}}, {{praticien.villePraticien}}',
        //                     zoom: 15
        //                 },
        //             {% endfor %}    
        //         ]

        //     LocA = MyLoc.concat(Locs);

        //     new Maplace({
        //         show_markers: true,
        //         locations: LocA,
        //         controls_title: 'Liste des praticiens',
        //         view_all_text: 'Voir tous',
        //     }).Load();

        //     Maplace.ViewOnMap('1');

        // }, function(){
        //     var gmapHeight = $('.gmap').height();
        //     $('.gmap').height(gmapHeight*1.5);

        //         Locs = [
        //             {% for praticien in praticiens %}
        //                 {
        //                     lat: {#{{gpsCoo[loop.index-1]['lat']}} #},
        //                     lon: {#{{gpsCoo[loop.index-1]['lng']}#} ,
        //                     title: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}}',
        //                     html: '{{praticien.nomPraticien}} {{praticien.prenomPraticien}} <br> Tel : {{praticien.numtel}} <br> Adresse : {{praticien.adressePraticien}}, {{praticien.cpPraticien}}, {{praticien.villePraticien}}',
        //                     zoom: 8
        //                 },
        //             {% endfor %}    
        //         ]

        //     new Maplace({
        //         show_markers: true,
        //         locations: Locs,
        //         controls_title: 'Liste des praticiens',
        //         view_all_text: 'Voir tous'
        //     }).Load();

        // });
        </script>
{% endblock %}
