{% for medicament in medicaments %}
	<tr onclick="if ($(window).width() < 767) {document.location = '{{ path('ppegsb_ficheMed', {'id':medicament.depotLegal})}}' };">
		<td class="ficheMed"><a href="{{ path('ppegsb_ficheMed', {'id':medicament.depotLegal})}}"><buton class="btn btn-primary"><span class="glyphicon glyphicon-file"></span></buton></a></td>
		<td>{{medicament.depotLegal}}</td>
		<td>{{medicament.nom}}</td>
		<td class = "familleMed">{{medicament.libelleFamille}}</td>
		<td>{{medicament.prixechantillon}}</td>
	</tr>
{% endfor %}